/* --- Reset css--- */
*{
  margin: 0;
  padding: 0;
  border: 0;
}

/* --- Layout --- */
body{
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  width: 75%;
  /*width: 1440px;*/
  padding: 0 5%;
}

/* ---Top Container--- */
.header-info{
  padding: 50px 30px;
}

h1{
  color: #2AB2AF;
}

.header-info h3{
  color: #99CC00;
  margin: 35px 0 20px 0;
}

.header-info p{
  line-height: 1.875rem;
  color: #98A6BD;
}

/* ---Bottom Container--- */
.bottom-wrapper{
  display: flex;
  flex-direction: row;
  color: #E5EFF5;
}

.flex-col{
  width: 50%;
  background-color: #2AB2AF;
  padding: 50px 30px;
}

.flex-col h3{
  padding-bottom: 15px;
}

  /* ---Price Container--- */
.flex-col:nth-child(1){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-col:hover{
  background-color: #26a29f;
}

.info-price p{
  line-height: 2.125rem;
  font-weight: 400;
}

.info-price p:nth-child(1){
  color: #bbd5e5;
}

.price-month{
  font-weight: 700;
  font-size: 1.875rem;
  padding-right: 0.5rem;
  color: #E5EFF5;
}

.button-subscription{
  background-color: #d6d352;
  height: 2.25rem;
  width: 70%;
  height: 50px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
  border-radius: 0.30rem;
  box-shadow: 0 17px 8px -12px rgba(0, 0, 0, 0.2);
}

.button-subscription:hover{
  background-color: #cecb32;
}
  /* ---Price Container--- */
  /* ---Why US Container--- */
.why-us-list{
  list-style: none;
}

.why-us-list li a{
  font-weight: lighter;
  line-height: 1.625rem;
  text-decoration: none;
  color: #c9deea;
}

.why-us-list li a:hover{
  color: #E5EFF5;
}
  /* ---Why US Container--- */
/* ---Bottom Container--- */

/* ---Footer--- */
footer{
  background-color: #f3f8fa;
  padding: 10px 30px 5px 30px;
  display: flex;
  justify-content: flex-end;
  color: #98A6BD;
}

.attribution{
  font-style: 0.5rem;
}

.attribution a{
  font-style: 0.625rem;
  text-decoration: none;
  color: #687d9e;
}

.attribution a:hover{
  color: #2AB2AF;
}

/* ---Responsive Design--- */
@media (max-width: 600px){
  .bottom-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex-col{
    width: auto;
  }

  .flex-col:nth-child(1){
    height: 200px;
  }

  .button-subscription{
    width: auto;
  }
}
